body
{
    background-color:papayawhip
}






h1
{
    color:peachpuff;
    font-family: white;
}

a
{
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 20px;
        font-size: 16px;
        color: white
}
    
a:hover
{
    color:white;
    font-size: 18pt;
}

.header
{
    width: 100%;
    background-color:black;
    padding-bottom: 30px;
}

.slider
{
    width: 100%;
    background-color: whitesmoke;
}

.box1
{
    width: 25%;
    background-color: peachpuff;
    padding-bottom: 200px;
    float: right;
}

.box2
{
    width: 25%;
    background-color: ghostwhite;
    padding-bottom: 200px;
    float: right;
}

.box3
{
    width: 25%;
    background-color: peachpuff;
    padding-bottom: 200px;
    float: right;
}

.box4
{
    width: 25%;
    background-color: ghostwhite;
    padding-bottom: 200px;
    float: left;
}




.content
{
    text-align: justify;
    font-family: 'Poltawski Nowy', serif;;
}



table, tr, td, th
    {
        border: 1px solid black;
        border-collapse: collapse;
    }



    td
    {
        padding: 5px;
    }

    tr
    {
        background-color: mintcream;
    }

tr:nth-child(odd)
    {
        background-color: grey;
    }

    th
    {
        background-color: grey;
        color:white;
    }

    tr:hover
    {
        background-color:pink
    }