body
{
    background-color:mistyrose
}






h1
{
    color:black;
}
a
    {
        text-decoration: none;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        padding: 10px;
        font-size: 16pt;
}
    
a:hover
{
    color:brown;
    font-size: 18pt;
}